In [24]:
from acquire import get_iris_data
from acquire import get_titanic_data

import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [25]:
df = get_iris_data()

In [26]:
df.head()

,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,setosa,1,5.1,3.5,1.4,0.2,1
1,setosa,2,4.9,3.0,1.4,0.2,1
2,setosa,3,4.7,3.2,1.3,0.2,1
3,setosa,4,4.6,3.1,1.5,0.2,1
4,setosa,5,5.0,3.6,1.4,0.2,1

In [27]:
df.drop(columns=['measurement_id', 'species_id'], inplace=True)

In [28]:
df = df.rename(columns={'species_name': 'species'})

In [29]:
encoder = LabelEncoder()
encoder.fit(df.species)

LabelEncoder()

In [30]:
def prep_iris(df):
    df.drop(columns=['measurement_id', 'species_id'], inplace=True)
    df = df.rename(columns={'species_name': 'species'})
    encoder = LabelEncoder()
    encoder.fit(df.species)
    return df

In [31]:
dft = get_titanic_data()

In [32]:
dft.embark_town.value_counts(dropna=False)

Southampton    644
Cherbourg      168
Queenstown      77
NaN              2
Name: embark_town, dtype: int64

In [33]:
dft.embarked.value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: embarked, dtype: int64

In [34]:
dft = dft.assign(embark_town = dft.embark_town.fillna('Other'))

In [35]:
dft = dft.assign(embarked = dft.embarked.fillna('O'))

In [36]:
dft.drop(columns='deck', inplace=True)

In [37]:
encoder_t = LabelEncoder()
encoder_t.fit(dft.embarked)

LabelEncoder()

In [40]:
train, test = train_test_split(dft)

In [41]:
scaler = MinMaxScaler()
scaler.fit(train[['fare', 'age']])
scaler.transform(train[['fare', 'age']])

array([[0.05074862, 0.43453129],
       [0.26252652, 0.49736115],
       [0.018006  , 0.24604172],
       ...,
       [0.01361429, 0.33400352],
       [0.01541158,        nan],
       [0.05182215, 0.43453129]])

In [42]:
# def 
#     scaler = MinMaxScaler()
#     scaler.fit(train[['fare', 'age']])
#     scaler.transform(train[['fare', 'age']])

def prep_titanic(dft):
    dft = dft.assign(embark_town = dft.embark_town.fillna('Other'),
                    embarked = dft.embarked.fillna('O'))
    dft.drop(columns='deck', inplace=True)
    encoder_t = LabelEncoder()
    encoder_t.fit(dft.embarked)