In [1]:
import numpy as np
import pandas as pd

from acquire_mall import *
from prepare_mall import *

In [2]:
df = get_mall_data()

In [4]:
df = prep_mall_data(df)

In [5]:
df.head()

   customer_id  gender  age  annual_income  spending_score  gender_e
0            1    Male   19             15              39         1
1            2    Male   21             15              81         1
2            3  Female   20             16               6         0
3            4  Female   23             16              77         0
4            5  Female   31             17              40         0

In [7]:
peekatdata(df)

   customer_id  gender  age  annual_income  spending_score  gender_e
0            1    Male   19             15              39         1
1            2    Male   21             15              81         1
2            3  Female   20             16               6         0
3            4  Female   23             16              77         0
4            5  Female   31             17              40         0
     customer_id  gender  age  annual_income  spending_score  gender_e
193          194  Female   38            113              91         0
194          195  Female   47            120              16         0
195          196  Female   35            120              79         0
196          197  Female   45            126              28         0
197          198    Male   32            126              74         1
(198, 6)
       customer_id         age  annual_income  spending_score    gender_e
count   198.000000  198.000000     198.000000      198.000000  198.000000
mean     99.500000   38.929293      59.787879       50.196970    0.434343
std      57.301832   14.016852      25.237259       25.746846    0.496927
min       1.000000   18.000000      15.000000        1.000000    0.000000
25%      50.250000   28.250000      40.500000       35.000000    0.000000
50%      99.500000   36.000000      61.000000       50.000000    0.000000
75%     148.750000   49.000000      77.750000       72.750000    1.000000
max     198.000000   70.000000     126.000000       99.000000    1.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 198 entries, 0 to 197
Data columns (total 6 columns):
customer_id       198 non-null int64
gender            198 non-null object
age               198 non-null int64
annual_income     198 non-null int64
spending_score    198 non-null int64
gender_e          198 non-null int64
dtypes: int64(5), object(1)
memory usage: 10.8+ KB

In [ ]:
# from acquire_zillow import *
# dfz = get_zillow()

In [ ]:
# dfz.info()

In [ ]:
# dfz.head()

In [ ]:
# CREATE PERPARE MALL
# detects any outliers
# encodes all the categorical columns, and adds the encoded column (i.e. it doesn't remove the original column)
# accepts the unprepared mall customers data frame and applies all the transformations above
# Summarize
# Write or use a previous function you have written that summarizes the data you have just read into a 
#dataframe in the ways we have discussed in previous modules (sample view, datatypes, value counts, 
#summary stats, ...)
# Use this function from a notebook to get an overview of your data.
# Use this function to help when you are working with the zillow data as well.

In [ ]:
# df.head()

In [ ]:
# desc = df.describe()

In [ ]:
# from prepare_mall import peekatdata

In [ ]:
# peekatdata(df)

In [ ]:
# q1 = float(df[['annual_income']].quantile(.25))
# q3 = float(df[['annual_income']].quantile(.75))

In [ ]:
# iqr = q3 - q1
# iqr = float(iqr)

In [ ]:
# def remove_numerical_outliers(df):
#     for col in df:
#         if np.issubdtype(df[col].dtype, np.number):
#             q1 = float(df[[col]].quantile(.25))
#             q3 = float(df[[col]].quantile(.75))
#             iqr = q3 - q1
#             df = df[~(df[col] > (q3 + 1.5 * iqr)) & ~(df[col] < (q1 - 1.5 * iqr))]
#     return df

In [ ]:
# import numpy as np
# df = remove_numerical_outliers(df)

In [ ]:
# df.info()