In [1]:
import numpy as np
import pandas as pd

from acquire_mall import *
from prepare_mall import *

In [2]:
df = prep_mall_data(get_mall_data())

OUTLIERS FOR age:

Series([], Name: age, dtype: int64)
OUTLIERS FOR annual_income:

customer_id
199    137
200    137
Name: annual_income, dtype: int64
OUTLIERS FOR spending_score:

Series([], Name: spending_score, dtype: int64)

In [ ]:
df = prep_mall_data(df)

In [3]:
df.head()

             gender  age  annual_income  spending_score  gender_e
customer_id
1              Male   19             15              39         1
2              Male   21             15              81         1
3            Female   20             16               6         0
4            Female   23             16              77         0
5            Female   31             17              40         0

In [ ]:
df.head()

In [4]:
peekatdata(df)

             gender  age  annual_income  spending_score  gender_e
customer_id
1              Male   19             15              39         1
2              Male   21             15              81         1
3            Female   20             16               6         0
4            Female   23             16              77         0
5            Female   31             17              40         0
             gender  age  annual_income  spending_score  gender_e
customer_id
196          Female   35            120              79         0
197          Female   45            126              28         0
198            Male   32            126              74         1
199            Male   32            137              18         1
200            Male   30            137              83         1
(200, 5)
              age  annual_income  spending_score    gender_e
count  200.000000     200.000000      200.000000  200.000000
mean    38.850000      60.560000       50.200000    0.440000
std     13.969007      26.264721       25.823522    0.497633
min     18.000000      15.000000        1.000000    0.000000
25%     28.750000      41.500000       34.750000    0.000000
50%     36.000000      61.500000       50.000000    0.000000
75%     49.000000      78.000000       73.000000    1.000000
max     70.000000     137.000000       99.000000    1.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 5 columns):
gender            200 non-null object
age               200 non-null int64
annual_income     200 non-null int64
spending_score    200 non-null int64
gender_e          200 non-null int64
dtypes: int64(4), object(1)
memory usage: 9.4+ KB

In [5]:
from acquire_zillow import *
# dfz = get_zillow()

In [ ]:
# dfz.info()

In [ ]:
# dfz.head()

In [ ]:
# CREATE PERPARE MALL
# detects any outliers
# encodes all the categorical columns, and adds the encoded column (i.e. it doesn't remove the original column)
# accepts the unprepared mall customers data frame and applies all the transformations above
# Summarize
# Write or use a previous function you have written that summarizes the data you have just read into a 
#dataframe in the ways we have discussed in previous modules (sample view, datatypes, value counts, 
#summary stats, ...)
# Use this function from a notebook to get an overview of your data.
# Use this function to help when you are working with the zillow data as well.

In [ ]:
# df.head()

In [ ]:
# desc = df.describe()

In [ ]:
# from prepare_mall import peekatdata

In [ ]:
# peekatdata(df)

In [ ]:
# q1 = float(df[['annual_income']].quantile(.25))
# q3 = float(df[['annual_income']].quantile(.75))

In [ ]:
# iqr = q3 - q1
# iqr = float(iqr)

In [ ]:
# def remove_numerical_outliers(df):
#     for col in df:
#         if np.issubdtype(df[col].dtype, np.number):
#             q1 = float(df[[col]].quantile(.25))
#             q3 = float(df[[col]].quantile(.75))
#             iqr = q3 - q1
#             df = df[~(df[col] > (q3 + 1.5 * iqr)) & ~(df[col] < (q1 - 1.5 * iqr))]
#     return df

In [ ]:
# import numpy as np
# df = remove_numerical_outliers(df)

In [8]:
# df.info()
dfz = df.from_csv('zillow.csv')

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (56) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [9]:
def handle_missing_values(df, prop_required_column = .5, prop_required_row = .75):
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df

In [10]:
dfz.head()

,parcelid,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
id,,,,,,,,,,,,,,,,,,,,,
2931667,11016594,NaN,2.0,3.0,4.0,2.0,NaN,NaN,1684.0,1684.0,...,6.037107e+13,0.0276,2016-01-01,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
475764,14366692,NaN,3.5,4.0,NaN,3.5,NaN,NaN,2263.0,2263.0,...,NaN,-0.1684,2016-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2444575,12098116,NaN,3.0,2.0,4.0,3.0,NaN,NaN,2217.0,2217.0,...,6.037464e+13,-0.0040,2016-01-01,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
1584730,12643413,NaN,2.0,2.0,4.0,2.0,NaN,NaN,839.0,839.0,...,6.037296e+13,0.0218,2016-01-02,Central,NaN,NaN,Central,Condominium,NaN,NaN
2926916,14432541,NaN,2.5,4.0,NaN,2.5,NaN,NaN,2283.0,2283.0,...,6.059042e+13,-0.0050,2016-01-02,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN

In [11]:
peekatdata(dfz)

         parcelid  basementsqft  bathroomcnt  bedroomcnt  \
id
2931667  11016594           NaN          2.0         3.0
475764   14366692           NaN          3.5         4.0
2444575  12098116           NaN          3.0         2.0
1584730  12643413           NaN          2.0         2.0
2926916  14432541           NaN          2.5         4.0

         buildingqualitytypeid  calculatedbathnbr  decktypeid  \
id
2931667                    4.0                2.0         NaN
475764                     NaN                3.5         NaN
2444575                    4.0                3.0         NaN
1584730                    4.0                2.0         NaN
2926916                    NaN                2.5         NaN

         finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
id
2931667                       NaN                        1684.0
475764                        NaN                        2263.0
2444575                       NaN                        2217.0
1584730                       NaN                         839.0
2926916                       NaN                        2283.0

         finishedsquarefeet12          ...           censustractandblock  \
id                                     ...
2931667                1684.0          ...                  6.037107e+13
475764                 2263.0          ...                           NaN
2444575                2217.0          ...                  6.037464e+13
1584730                 839.0          ...                  6.037296e+13
2926916                2283.0          ...                  6.059042e+13

         logerror  transactiondate  airconditioningdesc  \
id
2931667    0.0276       2016-01-01              Central
475764    -0.1684       2016-01-01                  NaN
2444575   -0.0040       2016-01-01              Central
1584730    0.0218       2016-01-02              Central
2926916   -0.0050       2016-01-02                  NaN

         architecturalstyledesc  buildingclassdesc  heatingorsystemdesc  \
id
2931667                     NaN                NaN              Central
475764                      NaN                NaN                  NaN
2444575                     NaN                NaN              Central
1584730                     NaN                NaN              Central
2926916                     NaN                NaN                  NaN

               propertylandusedesc  storydesc  typeconstructiondesc
id
2931667  Single Family Residential        NaN                   NaN
475764   Single Family Residential        NaN                   NaN
2444575  Single Family Residential        NaN                   NaN
1584730                Condominium        NaN                   NaN
2926916  Single Family Residential        NaN                   NaN

[5 rows x 60 columns]
         parcelid  basementsqft  bathroomcnt  bedroomcnt  \
id
2864704  10833991           NaN          3.0         3.0
673515   11000655           NaN          2.0         2.0
2968375  17239384           NaN          2.0         4.0
1843709  12773139           NaN          1.0         3.0
1187175  12826780           NaN          2.0         3.0

         buildingqualitytypeid  calculatedbathnbr  decktypeid  \
id
2864704                    8.0                3.0         NaN
673515                     6.0                2.0         NaN
2968375                    NaN                2.0         NaN
1843709                    4.0                1.0         NaN
1187175                    6.0                2.0         NaN

         finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
id
2864704                       NaN                        1741.0
673515                        NaN                        1286.0
2968375                    1612.0                        1612.0
1843709                       NaN                        1032.0
1187175                       NaN                        1762.0

         finishedsquarefeet12          ...           censustractandblock  \
id                                     ...
2864704                1741.0          ...                  6.037132e+13
673515                 1286.0          ...                  6.037101e+13
2968375                1612.0          ...                  6.111008e+13
1843709                1032.0          ...                  6.037434e+13
1187175                1762.0          ...                  6.037503e+13

         logerror  transactiondate  airconditioningdesc  \
id
2864704 -0.002245       2017-09-20              Central
673515   0.020615       2017-09-20                  NaN
2968375  0.013209       2017-09-21                  NaN
1843709  0.037129       2017-09-21              Central
1187175  0.007204       2017-09-25                  NaN

         architecturalstyledesc  buildingclassdesc  heatingorsystemdesc  \
id
2864704                     NaN                NaN              Central
673515                      NaN                NaN              Central
2968375                     NaN                NaN                  NaN
1843709                     NaN                NaN              Central
1187175                     NaN                NaN              Central

               propertylandusedesc  storydesc  typeconstructiondesc
id
2864704                Condominium        NaN                   NaN
673515   Single Family Residential        NaN                   NaN
2968375  Single Family Residential        NaN                   NaN
1843709  Single Family Residential        NaN                   NaN
1187175  Single Family Residential        NaN                   NaN

[5 rows x 60 columns]
(167854, 60)
           parcelid  basementsqft    bathroomcnt     bedroomcnt  \
count  1.678540e+05     93.000000  167854.000000  167854.000000
mean   1.299557e+07    695.376344       2.288265       3.041739
std    3.016330e+06    583.952144       1.000835       1.149134
min    1.071174e+07     38.000000       0.000000       0.000000
25%    1.154898e+07    280.000000       2.000000       2.000000
50%    1.254083e+07    588.000000       2.000000       3.000000
75%    1.421952e+07    819.000000       3.000000       4.000000
max    1.676893e+08   3560.000000      20.000000      16.000000

       buildingqualitytypeid  calculatedbathnbr  decktypeid  \
count          107173.000000      166056.000000      1272.0
mean                6.015461           2.312542        66.0
std                 1.882799           0.977808         0.0
min                 1.000000           1.000000        66.0
25%                 4.000000           2.000000        66.0
50%                 7.000000           2.000000        66.0
75%                 7.000000           3.000000        66.0
max                12.000000          20.000000        66.0

       finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
count              12893.000000                 166992.000000
mean                1356.491895                   1778.630246
std                  661.068564                    940.356025
min                   44.000000                      2.000000
25%                  945.000000                   1183.000000
50%                 1252.000000                   1541.000000
75%                 1615.000000                   2103.000000
max                 7625.000000                  35640.000000

       finishedsquarefeet12      ...        numberofstories  fireplaceflag  \
count         159519.000000      ...           38169.000000          394.0
mean            1752.326939      ...               1.437764            1.0
std              921.360898      ...               0.544508            0.0
min                2.000000      ...               1.000000            1.0
25%             1172.000000      ...               1.000000            1.0
50%             1520.000000      ...               1.000000            1.0
75%             2065.000000      ...               2.000000            1.0
max            21929.000000      ...               6.000000            1.0

       structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
count                1.673590e+05       1.678520e+05   167854.000000
mean                 1.843460e+05       4.726833e+05     2015.462181
std                  2.192841e+05       6.028372e+05        0.498569
min                  4.400000e+01       2.200000e+01     2015.000000
25%                  8.256800e+04       2.026522e+05     2015.000000
50%                  1.340510e+05       3.500000e+05     2015.000000
75%                  2.142570e+05       5.540020e+05     2016.000000
max                  1.142179e+07       4.906124e+07     2016.000000

       landtaxvaluedollarcnt      taxamount  taxdelinquencyyear  \
count           1.678510e+05  167843.000000         4683.000000
mean            2.888805e+05    5989.515575           13.827247
std             4.456451e+05    7214.731946            2.421658
min             2.200000e+01      19.920000            3.000000
25%             8.373000e+04    2798.070000           13.000000
50%             1.977760e+05    4501.040000           14.000000
75%             3.553340e+05    6914.165000           15.000000
max             4.895220e+07  586639.300000           99.000000

       censustractandblock       logerror
count         1.670020e+05  167854.000000
mean          6.049390e+13       0.013928
std           1.054137e+12       0.165634
min           6.037101e+13      -4.655420
25%           6.037312e+13      -0.025300
50%           6.037604e+13       0.006000
75%           6.059042e+13       0.039200
max           4.830301e+14       5.262999

[8 rows x 49 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 167854 entries, 2931667 to 1187175
Data columns (total 60 columns):
parcelid                        167854 non-null int64
basementsqft                    93 non-null float64
bathroomcnt                     167854 non-null float64
bedroomcnt                      167854 non-null float64
buildingqualitytypeid           107173 non-null float64
calculatedbathnbr               166056 non-null float64
decktypeid                      1272 non-null float64
finishedfloor1squarefeet        12893 non-null float64
calculatedfinishedsquarefeet    166992 non-null float64
finishedsquarefeet12            159519 non-null float64
finishedsquarefeet13            75 non-null float64
finishedsquarefeet15            6591 non-null float64
finishedsquarefeet50            12893 non-null float64
finishedsquarefeet6             807 non-null float64
fips                            167854 non-null float64
fireplacecnt                    17896 non-null float64
fullbathcnt                     166056 non-null float64
garagecarcnt                    55457 non-null float64
garagetotalsqft                 55457 non-null float64
hashottuborspa                  3904 non-null float64
latitude                        167854 non-null float64
longitude                       167854 non-null float64
lotsizesquarefeet               149446 non-null float64
poolcnt                         34075 non-null float64
poolsizesum                     1838 non-null float64
pooltypeid10                    1626 non-null float64
pooltypeid2                     2278 non-null float64
pooltypeid7                     31776 non-null float64
propertycountylandusecode       167853 non-null object
propertyzoningdesc              108789 non-null object
rawcensustractandblock          167854 non-null float64
regionidcity                    164579 non-null float64
regionidcounty                  167854 non-null float64
regionidneighborhood            66986 non-null float64
regionidzip                     167769 non-null float64
roomcnt                         167854 non-null float64
threequarterbathnbr             22115 non-null float64
unitcnt                         109056 non-null float64
yardbuildingsqft17              5039 non-null float64
yardbuildingsqft26              165 non-null float64
yearbuilt                       166828 non-null float64
numberofstories                 38169 non-null float64
fireplaceflag                   394 non-null float64
structuretaxvaluedollarcnt      167359 non-null float64
taxvaluedollarcnt               167852 non-null float64
assessmentyear                  167854 non-null float64
landtaxvaluedollarcnt           167851 non-null float64
taxamount                       167843 non-null float64
taxdelinquencyflag              4683 non-null object
taxdelinquencyyear              4683 non-null float64
censustractandblock             167002 non-null float64
logerror                        167854 non-null float64
transactiondate                 167854 non-null object
airconditioningdesc             53788 non-null object
architecturalstyledesc          468 non-null object
buildingclassdesc               31 non-null object
heatingorsystemdesc             105651 non-null object
propertylandusedesc             167854 non-null object
storydesc                       93 non-null object
typeconstructiondesc            522 non-null object
dtypes: float64(48), int64(1), object(11)
memory usage: 78.1+ MB

In [12]:
dfz.propertyzoningdesc.value_counts(dropna=False)

NaN           59065
LAR1          14444
LAR3           5251
LARS           2897
LBR1N          2684
LARD1.5        2437
LAR2           2320
SCUR2          2061
LARD2          1815
LARA           1505
LARE11         1345
LARE15         1188
TORR-LO        1161
LCR1YY         1024
SCUR3           954
LAR4            915
LARD3           801
PSR6            787
LKR1YY          782
LCA11*          625
GLR1YY          625
LCR1*           621
PDR1*           615
LCA22*          598
LAC2            557
BUR1YY          524
LCA21*          522
CARS*           506
LBR2N           489
LCA25*          487
              ...
LRR17500          1
GLRI-R*           1
SLR2D*            1
SRR1              1
LVPID*            1
LCR33000*         1
RMC3D*            1
DOR2-R1500        1
SGCM-R4*          1
TOPD              1
LBC3*             1
EMBR1Y            1
BFAI*             1
LCRA6000          1
HPR3              1
LC110000-R        1
LCR17500          1
NORA5000*         1
LCRA6000ED        1
AHA110000*        1
PDR1-20000        1
LNC4YY            1
RA15000-LC        1
TCR3-R2*          1
RB4*              1
TORR              1
SHCG              1
LCR1-A1*          1
WCPC              1
SOR110000*        1
Name: propertyzoningdesc, Length: 2347, dtype: int64

In [13]:
dfz.unitcnt.value_counts(dropna=False)

 1.0      101916
NaN        58798
 2.0        4385
 4.0        1597
 3.0        1148
 6.0           2
 45.0          1
 11.0          1
 237.0         1
 42.0          1
 5.0           1
 9.0           1
 143.0         1
 70.0          1
Name: unitcnt, dtype: int64

In [17]:
peekatdata(dfz)

         parcelid  basementsqft  bathroomcnt  bedroomcnt  \
id
2931667  11016594           NaN          2.0         3.0
475764   14366692           NaN          3.5         4.0
2444575  12098116           NaN          3.0         2.0
1584730  12643413           NaN          2.0         2.0
2926916  14432541           NaN          2.5         4.0

         buildingqualitytypeid  calculatedbathnbr  decktypeid  \
id
2931667                    4.0                2.0         NaN
475764                     NaN                3.5         NaN
2444575                    4.0                3.0         NaN
1584730                    4.0                2.0         NaN
2926916                    NaN                2.5         NaN

         finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
id
2931667                       NaN                        1684.0
475764                        NaN                        2263.0
2444575                       NaN                        2217.0
1584730                       NaN                         839.0
2926916                       NaN                        2283.0

         finishedsquarefeet12          ...           censustractandblock  \
id                                     ...
2931667                1684.0          ...                  6.037107e+13
475764                 2263.0          ...                           NaN
2444575                2217.0          ...                  6.037464e+13
1584730                 839.0          ...                  6.037296e+13
2926916                2283.0          ...                  6.059042e+13

         logerror  transactiondate  airconditioningdesc  \
id
2931667    0.0276       2016-01-01              Central
475764    -0.1684       2016-01-01                  NaN
2444575   -0.0040       2016-01-01              Central
1584730    0.0218       2016-01-02              Central
2926916   -0.0050       2016-01-02                  NaN

         architecturalstyledesc  buildingclassdesc  heatingorsystemdesc  \
id
2931667                     NaN                NaN              Central
475764                      NaN                NaN                  NaN
2444575                     NaN                NaN              Central
1584730                     NaN                NaN              Central
2926916                     NaN                NaN                  NaN

               propertylandusedesc  storydesc  typeconstructiondesc
id
2931667  Single Family Residential        NaN                   NaN
475764   Single Family Residential        NaN                   NaN
2444575  Single Family Residential        NaN                   NaN
1584730                Condominium        NaN                   NaN
2926916  Single Family Residential        NaN                   NaN

[5 rows x 60 columns]
         parcelid  basementsqft  bathroomcnt  bedroomcnt  \
id
2864704  10833991           NaN          3.0         3.0
673515   11000655           NaN          2.0         2.0
2968375  17239384           NaN          2.0         4.0
1843709  12773139           NaN          1.0         3.0
1187175  12826780           NaN          2.0         3.0

         buildingqualitytypeid  calculatedbathnbr  decktypeid  \
id
2864704                    8.0                3.0         NaN
673515                     6.0                2.0         NaN
2968375                    NaN                2.0         NaN
1843709                    4.0                1.0         NaN
1187175                    6.0                2.0         NaN

         finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
id
2864704                       NaN                        1741.0
673515                        NaN                        1286.0
2968375                    1612.0                        1612.0
1843709                       NaN                        1032.0
1187175                       NaN                        1762.0

         finishedsquarefeet12          ...           censustractandblock  \
id                                     ...
2864704                1741.0          ...                  6.037132e+13
673515                 1286.0          ...                  6.037101e+13
2968375                1612.0          ...                  6.111008e+13
1843709                1032.0          ...                  6.037434e+13
1187175                1762.0          ...                  6.037503e+13

         logerror  transactiondate  airconditioningdesc  \
id
2864704 -0.002245       2017-09-20              Central
673515   0.020615       2017-09-20                  NaN
2968375  0.013209       2017-09-21                  NaN
1843709  0.037129       2017-09-21              Central
1187175  0.007204       2017-09-25                  NaN

         architecturalstyledesc  buildingclassdesc  heatingorsystemdesc  \
id
2864704                     NaN                NaN              Central
673515                      NaN                NaN              Central
2968375                     NaN                NaN                  NaN
1843709                     NaN                NaN              Central
1187175                     NaN                NaN              Central

               propertylandusedesc  storydesc  typeconstructiondesc
id
2864704                Condominium        NaN                   NaN
673515   Single Family Residential        NaN                   NaN
2968375  Single Family Residential        NaN                   NaN
1843709  Single Family Residential        NaN                   NaN
1187175  Single Family Residential        NaN                   NaN

[5 rows x 60 columns]
(167854, 60)
           parcelid  basementsqft    bathroomcnt     bedroomcnt  \
count  1.678540e+05     93.000000  167854.000000  167854.000000
mean   1.299557e+07    695.376344       2.288265       3.041739
std    3.016330e+06    583.952144       1.000835       1.149134
min    1.071174e+07     38.000000       0.000000       0.000000
25%    1.154898e+07    280.000000       2.000000       2.000000
50%    1.254083e+07    588.000000       2.000000       3.000000
75%    1.421952e+07    819.000000       3.000000       4.000000
max    1.676893e+08   3560.000000      20.000000      16.000000

       buildingqualitytypeid  calculatedbathnbr  decktypeid  \
count          107173.000000      166056.000000      1272.0
mean                6.015461           2.312542        66.0
std                 1.882799           0.977808         0.0
min                 1.000000           1.000000        66.0
25%                 4.000000           2.000000        66.0
50%                 7.000000           2.000000        66.0
75%                 7.000000           3.000000        66.0
max                12.000000          20.000000        66.0

       finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
count              12893.000000                 166992.000000
mean                1356.491895                   1778.630246
std                  661.068564                    940.356025
min                   44.000000                      2.000000
25%                  945.000000                   1183.000000
50%                 1252.000000                   1541.000000
75%                 1615.000000                   2103.000000
max                 7625.000000                  35640.000000

       finishedsquarefeet12      ...        numberofstories  fireplaceflag  \
count         159519.000000      ...           38169.000000          394.0
mean            1752.326939      ...               1.437764            1.0
std              921.360898      ...               0.544508            0.0
min                2.000000      ...               1.000000            1.0
25%             1172.000000      ...               1.000000            1.0
50%             1520.000000      ...               1.000000            1.0
75%             2065.000000      ...               2.000000            1.0
max            21929.000000      ...               6.000000            1.0

       structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
count                1.673590e+05       1.678520e+05   167854.000000
mean                 1.843460e+05       4.726833e+05     2015.462181
std                  2.192841e+05       6.028372e+05        0.498569
min                  4.400000e+01       2.200000e+01     2015.000000
25%                  8.256800e+04       2.026522e+05     2015.000000
50%                  1.340510e+05       3.500000e+05     2015.000000
75%                  2.142570e+05       5.540020e+05     2016.000000
max                  1.142179e+07       4.906124e+07     2016.000000

       landtaxvaluedollarcnt      taxamount  taxdelinquencyyear  \
count           1.678510e+05  167843.000000         4683.000000
mean            2.888805e+05    5989.515575           13.827247
std             4.456451e+05    7214.731946            2.421658
min             2.200000e+01      19.920000            3.000000
25%             8.373000e+04    2798.070000           13.000000
50%             1.977760e+05    4501.040000           14.000000
75%             3.553340e+05    6914.165000           15.000000
max             4.895220e+07  586639.300000           99.000000

       censustractandblock       logerror
count         1.670020e+05  167854.000000
mean          6.049390e+13       0.013928
std           1.054137e+12       0.165634
min           6.037101e+13      -4.655420
25%           6.037312e+13      -0.025300
50%           6.037604e+13       0.006000
75%           6.059042e+13       0.039200
max           4.830301e+14       5.262999

[8 rows x 49 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 167854 entries, 2931667 to 1187175
Data columns (total 60 columns):
parcelid                        167854 non-null int64
basementsqft                    93 non-null float64
bathroomcnt                     167854 non-null float64
bedroomcnt                      167854 non-null float64
buildingqualitytypeid           107173 non-null float64
calculatedbathnbr               166056 non-null float64
decktypeid                      1272 non-null float64
finishedfloor1squarefeet        12893 non-null float64
calculatedfinishedsquarefeet    166992 non-null float64
finishedsquarefeet12            159519 non-null float64
finishedsquarefeet13            75 non-null float64
finishedsquarefeet15            6591 non-null float64
finishedsquarefeet50            12893 non-null float64
finishedsquarefeet6             807 non-null float64
fips                            167854 non-null float64
fireplacecnt                    17896 non-null float64
fullbathcnt                     166056 non-null float64
garagecarcnt                    55457 non-null float64
garagetotalsqft                 55457 non-null float64
hashottuborspa                  3904 non-null float64
latitude                        167854 non-null float64
longitude                       167854 non-null float64
lotsizesquarefeet               149446 non-null float64
poolcnt                         34075 non-null float64
poolsizesum                     1838 non-null float64
pooltypeid10                    1626 non-null float64
pooltypeid2                     2278 non-null float64
pooltypeid7                     31776 non-null float64
propertycountylandusecode       167853 non-null object
propertyzoningdesc              108789 non-null object
rawcensustractandblock          167854 non-null float64
regionidcity                    164579 non-null float64
regionidcounty                  167854 non-null float64
regionidneighborhood            66986 non-null float64
regionidzip                     167769 non-null float64
roomcnt                         167854 non-null float64
threequarterbathnbr             22115 non-null float64
unitcnt                         167854 non-null float64
yardbuildingsqft17              5039 non-null float64
yardbuildingsqft26              165 non-null float64
yearbuilt                       166828 non-null float64
numberofstories                 38169 non-null float64
fireplaceflag                   394 non-null float64
structuretaxvaluedollarcnt      167359 non-null float64
taxvaluedollarcnt               167852 non-null float64
assessmentyear                  167854 non-null float64
landtaxvaluedollarcnt           167851 non-null float64
taxamount                       167843 non-null float64
taxdelinquencyflag              4683 non-null object
taxdelinquencyyear              4683 non-null float64
censustractandblock             167002 non-null float64
logerror                        167854 non-null float64
transactiondate                 167854 non-null object
airconditioningdesc             53788 non-null object
architecturalstyledesc          468 non-null object
buildingclassdesc               31 non-null object
heatingorsystemdesc             105651 non-null object
propertylandusedesc             167854 non-null object
storydesc                       93 non-null object
typeconstructiondesc            522 non-null object
dtypes: float64(48), int64(1), object(11)
memory usage: 78.1+ MB

In [21]:
single_cats = ['Single Family Residential', 'Mobile Home', 'Manufactured, Modular, Prefabricated Homes', 'Residential General', 'Townhouse']
dfz[['propertylandusedesc', 'unitcnt']][dfz.propertylandusedesc.isin(single_cats)]
dfz = dfz.assign(unitcnt = dfz.unitcnt.fillna(0))
dfz_temp = dfz[(dfz.propertylandusedesc.isin(single_cats)) & dfz.unitcnt.isin([0,1])]
dfz_temp = dfz_temp[~(dfz_temp.bathroomcnt == 0) & ~(dfz_temp.bedroomcnt == 0)]
peekatdata(dfz_temp)

         parcelid  basementsqft  bathroomcnt  bedroomcnt  \
id
2931667  11016594           NaN          2.0         3.0
475764   14366692           NaN          3.5         4.0
2444575  12098116           NaN          3.0         2.0
2926916  14432541           NaN          2.5         4.0
2843942  11509835           NaN          4.0         4.0

         buildingqualitytypeid  calculatedbathnbr  decktypeid  \
id
2931667                    4.0                2.0         NaN
475764                     NaN                3.5         NaN
2444575                    4.0                3.0         NaN
2926916                    NaN                2.5         NaN
2843942                    1.0                4.0         NaN

         finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
id
2931667                       NaN                        1684.0
475764                        NaN                        2263.0
2444575                       NaN                        2217.0
2926916                       NaN                        2283.0
2843942                       NaN                        3067.0

         finishedsquarefeet12          ...           censustractandblock  \
id                                     ...
2931667                1684.0          ...                  6.037107e+13
475764                 2263.0          ...                           NaN
2444575                2217.0          ...                  6.037464e+13
2926916                2283.0          ...                  6.059042e+13
2843942                3067.0          ...                  6.037621e+13

         logerror  transactiondate  airconditioningdesc  \
id
2931667    0.0276       2016-01-01              Central
475764    -0.1684       2016-01-01                  NaN
2444575   -0.0040       2016-01-01              Central
2926916   -0.0050       2016-01-02                  NaN
2843942   -0.2705       2016-01-02              Central

         architecturalstyledesc  buildingclassdesc  heatingorsystemdesc  \
id
2931667                     NaN                NaN              Central
475764                      NaN                NaN                  NaN
2444575                     NaN                NaN              Central
2926916                     NaN                NaN                  NaN
2843942                     NaN                NaN              Central

               propertylandusedesc  storydesc  typeconstructiondesc
id
2931667  Single Family Residential        NaN                   NaN
475764   Single Family Residential        NaN                   NaN
2444575  Single Family Residential        NaN                   NaN
2926916  Single Family Residential        NaN                   NaN
2843942  Single Family Residential        NaN                   NaN

[5 rows x 60 columns]
         parcelid  basementsqft  bathroomcnt  bedroomcnt  \
id
2274245  12412492           NaN          2.0         4.0
673515   11000655           NaN          2.0         2.0
2968375  17239384           NaN          2.0         4.0
1843709  12773139           NaN          1.0         3.0
1187175  12826780           NaN          2.0         3.0

         buildingqualitytypeid  calculatedbathnbr  decktypeid  \
id
2274245                    6.0                2.0         NaN
673515                     6.0                2.0         NaN
2968375                    NaN                2.0         NaN
1843709                    4.0                1.0         NaN
1187175                    6.0                2.0         NaN

         finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
id
2274245                       NaN                        1633.0
673515                        NaN                        1286.0
2968375                    1612.0                        1612.0
1843709                       NaN                        1032.0
1187175                       NaN                        1762.0

         finishedsquarefeet12          ...           censustractandblock  \
id                                     ...
2274245                1633.0          ...                  6.037555e+13
673515                 1286.0          ...                  6.037101e+13
2968375                1612.0          ...                  6.111008e+13
1843709                1032.0          ...                  6.037434e+13
1187175                1762.0          ...                  6.037503e+13

         logerror  transactiondate  airconditioningdesc  \
id
2274245  0.001082       2017-09-19                  NaN
673515   0.020615       2017-09-20                  NaN
2968375  0.013209       2017-09-21                  NaN
1843709  0.037129       2017-09-21              Central
1187175  0.007204       2017-09-25                  NaN

         architecturalstyledesc  buildingclassdesc  heatingorsystemdesc  \
id
2274245                     NaN                NaN              Central
673515                      NaN                NaN              Central
2968375                     NaN                NaN                  NaN
1843709                     NaN                NaN              Central
1187175                     NaN                NaN              Central

               propertylandusedesc  storydesc  typeconstructiondesc
id
2274245  Single Family Residential        NaN                   NaN
673515   Single Family Residential        NaN                   NaN
2968375  Single Family Residential        NaN                   NaN
1843709  Single Family Residential        NaN                   NaN
1187175  Single Family Residential        NaN                   NaN

[5 rows x 60 columns]
(112737, 60)
           parcelid  basementsqft    bathroomcnt     bedroomcnt  \
count  1.127370e+05     85.000000  112737.000000  112737.000000
mean   1.298396e+07    704.705882       2.297680       3.301409
std    2.958217e+06    609.115124       1.010445       0.926611
min    1.071174e+07     38.000000       1.000000       1.000000
25%    1.152293e+07    273.000000       2.000000       3.000000
50%    1.259030e+07    585.000000       2.000000       3.000000
75%    1.412954e+07    900.000000       3.000000       4.000000
max    1.676392e+08   3560.000000      20.000000      16.000000

       buildingqualitytypeid  calculatedbathnbr  decktypeid  \
count           72614.000000      112707.000000       806.0
mean                6.037692           2.297617        66.0
std                 1.764688           1.010445         0.0
min                 1.000000           1.000000        66.0
25%                 4.000000           2.000000        66.0
50%                 7.000000           2.000000        66.0
75%                 7.000000           3.000000        66.0
max                12.000000          20.000000        66.0

       finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
count               9302.000000                 112723.000000
mean                1536.072243                   1912.991590
std                  659.956314                    986.645155
min                  107.000000                     66.000000
25%                 1141.000000                   1270.000000
50%                 1406.000000                   1655.000000
75%                 1753.750000                   2289.000000
max                 7625.000000                  21929.000000

       finishedsquarefeet12      ...        numberofstories  fireplaceflag  \
count         112379.000000      ...           31511.000000          201.0
mean            1914.843894      ...               1.417029            1.0
std              986.347777      ...               0.540778            0.0
min               66.000000      ...               1.000000            1.0
25%             1272.000000      ...               1.000000            1.0
50%             1657.000000      ...               1.000000            1.0
75%             2290.000000      ...               2.000000            1.0
max            21929.000000      ...               6.000000            1.0

       structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
count                1.126130e+05       1.127350e+05   112737.000000
mean                 1.902445e+05       5.076668e+05     2015.464506
std                  2.433861e+05       6.742367e+05        0.498741
min                  1.000000e+02       1.000000e+03     2015.000000
25%                  7.562100e+04       1.908575e+05     2015.000000
50%                  1.292100e+05       3.637340e+05     2015.000000
75%                  2.200000e+05       5.999275e+05     2016.000000
max                  9.948100e+06       2.775000e+07     2016.000000

       landtaxvaluedollarcnt      taxamount  taxdelinquencyyear  \
count           1.127350e+05  112728.000000         3381.000000
mean            3.176282e+05    6422.844243           13.816031
std             4.910071e+05    8030.696116            2.677076
min             1.610000e+02      49.080000            4.000000
25%             7.510650e+04    2802.865000           13.000000
50%             2.117000e+05    4715.615000           14.000000
75%             3.943320e+05    7345.790000           15.000000
max             2.450000e+07  321936.090000           99.000000

       censustractandblock       logerror
count         1.125380e+05  112737.000000
mean          6.049781e+13       0.014911
std           1.276568e+12       0.167022
min           6.037101e+13      -4.655420
25%           6.037401e+13      -0.025300
50%           6.037620e+13       0.006000
75%           6.059042e+13       0.040150
max           4.830301e+14       5.262999

[8 rows x 49 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 112737 entries, 2931667 to 1187175
Data columns (total 60 columns):
parcelid                        112737 non-null int64
basementsqft                    85 non-null float64
bathroomcnt                     112737 non-null float64
bedroomcnt                      112737 non-null float64
buildingqualitytypeid           72614 non-null float64
calculatedbathnbr               112707 non-null float64
decktypeid                      806 non-null float64
finishedfloor1squarefeet        9302 non-null float64
calculatedfinishedsquarefeet    112723 non-null float64
finishedsquarefeet12            112379 non-null float64
finishedsquarefeet13            28 non-null float64
finishedsquarefeet15            0 non-null float64
finishedsquarefeet50            9302 non-null float64
finishedsquarefeet6             316 non-null float64
fips                            112737 non-null float64
fireplacecnt                    15562 non-null float64
fullbathcnt                     112707 non-null float64
garagecarcnt                    38982 non-null float64
garagetotalsqft                 38982 non-null float64
hashottuborspa                  3610 non-null float64
latitude                        112737 non-null float64
longitude                       112737 non-null float64
lotsizesquarefeet               112026 non-null float64
poolcnt                         23379 non-null float64
poolsizesum                     1824 non-null float64
pooltypeid10                    1343 non-null float64
pooltypeid2                     2267 non-null float64
pooltypeid7                     21096 non-null float64
propertycountylandusecode       112737 non-null object
propertyzoningdesc              72666 non-null object
rawcensustractandblock          112737 non-null float64
regionidcity                    110500 non-null float64
regionidcounty                  112737 non-null float64
regionidneighborhood            40925 non-null float64
regionidzip                     112708 non-null float64
roomcnt                         112737 non-null float64
threequarterbathnbr             14545 non-null float64
unitcnt                         112737 non-null float64
yardbuildingsqft17              4093 non-null float64
yardbuildingsqft26              155 non-null float64
yearbuilt                       112664 non-null float64
numberofstories                 31511 non-null float64
fireplaceflag                   201 non-null float64
structuretaxvaluedollarcnt      112613 non-null float64
taxvaluedollarcnt               112735 non-null float64
assessmentyear                  112737 non-null float64
landtaxvaluedollarcnt           112735 non-null float64
taxamount                       112728 non-null float64
taxdelinquencyflag              3381 non-null object
taxdelinquencyyear              3381 non-null float64
censustractandblock             112538 non-null float64
logerror                        112737 non-null float64
transactiondate                 112737 non-null object
airconditioningdesc             29351 non-null object
architecturalstyledesc          181 non-null object
buildingclassdesc               0 non-null object
heatingorsystemdesc             72950 non-null object
propertylandusedesc             112737 non-null object
storydesc                       85 non-null object
typeconstructiondesc            195 non-null object
dtypes: float64(48), int64(1), object(11)
memory usage: 52.5+ MB

In [22]:
df.head()

             gender  age  annual_income  spending_score  gender_e
customer_id
1              Male   19             15              39         1
2              Male   21             15              81         1
3            Female   20             16               6         0
4            Female   23             16              77         0
5            Female   31             17              40         0

In [ ]:
df.head()

In [24]:
dfz.bedroomcnt.value_counts()

3.0     65883
2.0     41580
4.0     37830
5.0      9627
1.0      7288
0.0      2258
6.0      2120
8.0       527
7.0       442
9.0       161
10.0       66
12.0       38
11.0       21
16.0        5
14.0        4
13.0        3
15.0        1
Name: bedroomcnt, dtype: int64

In [25]:
dfz = dfz_temp

In [26]:
dfz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112737 entries, 2931667 to 1187175
Data columns (total 60 columns):
parcelid                        112737 non-null int64
basementsqft                    85 non-null float64
bathroomcnt                     112737 non-null float64
bedroomcnt                      112737 non-null float64
buildingqualitytypeid           72614 non-null float64
calculatedbathnbr               112707 non-null float64
decktypeid                      806 non-null float64
finishedfloor1squarefeet        9302 non-null float64
calculatedfinishedsquarefeet    112723 non-null float64
finishedsquarefeet12            112379 non-null float64
finishedsquarefeet13            28 non-null float64
finishedsquarefeet15            0 non-null float64
finishedsquarefeet50            9302 non-null float64
finishedsquarefeet6             316 non-null float64
fips                            112737 non-null float64
fireplacecnt                    15562 non-null float64
fullbathcnt                     112707 non-null float64
garagecarcnt                    38982 non-null float64
garagetotalsqft                 38982 non-null float64
hashottuborspa                  3610 non-null float64
latitude                        112737 non-null float64
longitude                       112737 non-null float64
lotsizesquarefeet               112026 non-null float64
poolcnt                         23379 non-null float64
poolsizesum                     1824 non-null float64
pooltypeid10                    1343 non-null float64
pooltypeid2                     2267 non-null float64
pooltypeid7                     21096 non-null float64
propertycountylandusecode       112737 non-null object
propertyzoningdesc              72666 non-null object
rawcensustractandblock          112737 non-null float64
regionidcity                    110500 non-null float64
regionidcounty                  112737 non-null float64
regionidneighborhood            40925 non-null float64
regionidzip                     112708 non-null float64
roomcnt                         112737 non-null float64
threequarterbathnbr             14545 non-null float64
unitcnt                         112737 non-null float64
yardbuildingsqft17              4093 non-null float64
yardbuildingsqft26              155 non-null float64
yearbuilt                       112664 non-null float64
numberofstories                 31511 non-null float64
fireplaceflag                   201 non-null float64
structuretaxvaluedollarcnt      112613 non-null float64
taxvaluedollarcnt               112735 non-null float64
assessmentyear                  112737 non-null float64
landtaxvaluedollarcnt           112735 non-null float64
taxamount                       112728 non-null float64
taxdelinquencyflag              3381 non-null object
taxdelinquencyyear              3381 non-null float64
censustractandblock             112538 non-null float64
logerror                        112737 non-null float64
transactiondate                 112737 non-null object
airconditioningdesc             29351 non-null object
architecturalstyledesc          181 non-null object
buildingclassdesc               0 non-null object
heatingorsystemdesc             72950 non-null object
propertylandusedesc             112737 non-null object
storydesc                       85 non-null object
typeconstructiondesc            195 non-null object
dtypes: float64(48), int64(1), object(11)
memory usage: 52.5+ MB

In [27]:
# scaler = MinMaxScaler()
# num_vars = list(dfz.select_dtypes('number').columns)

# print('Scaling {}, and {}...'.format(', '.join(num_vars[:-1]), num_vars[-1]))
# train[num_vars] = scaler.fit_transform(dfz[num_vars])

Scaling parcelid, basementsqft, bathroomcnt, bedroomcnt, buildingqualitytypeid, calculatedbathnbr, decktypeid, finishedfloor1squarefeet, calculatedfinishedsquarefeet, finishedsquarefeet12, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, rawcensustractandblock, regionidcity, regionidcounty, regionidneighborhood, regionidzip, roomcnt, threequarterbathnbr, unitcnt, yardbuildingsqft17, yardbuildingsqft26, yearbuilt, numberofstories, fireplaceflag, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, taxdelinquencyyear, censustractandblock, and logerror...

NameError: name 'train' is not defined